 
<div class="ingredients-div">

   <div class="protein-ingredients">

        <div>
            <img src="./img/greekYogurt.png" alt="" class="ingredients-portion"> <br>
            <img src="./img/greekYogurtFacts.png" alt="">
        </div>
        <div >
            <img src="./img/wheyProtein.png" alt="" class="ingredients-portion"> <br>
            <img src="./img/wheyProteinFacts.png" alt="">
        </div>

    </div>

    <div class="vege-ingredients">
        
            <div >
                <img src="./img/kale.png" alt="" class="ingredients-portion"> <br>
                <img src="./img/kaleFacts.png" alt="">
            </div>
            <div >
                <img src="./img/spinach.png" alt="" class="ingredients-portion"> <br>
                <img src="./img/spinachFacts.png" alt="">
            </div>
        
    </div>

    <div class="fruit-ingredients">
        
            <div >
                <img src="./img/applesBlueberries.png" alt="" class="fruits-ingredients-portion"> <br>
                <img src="./img/appleBlueberryFacts.png" alt="" class="fruits-facts">
            </div>
            <div >
                <img src="./img/bananasOranges.png" alt="" class="fruits-ingredients-portion"> <br>
                <img src="./img/bananaOrangeFacts.png" alt="" class="fruits-facts">
            </div>
            <div >
                <img src="./img/strawberryAppleBanana.png" alt="" class="fruits-ingredients-portion"> <br>
                <img src="./img/strawberryAppleBananaFacts.png" alt="" class="fruits-facts">
            </div>
        
    </div>

</div>    


<form>
    <a ui-sref="home">
        <button type="button" ng-click="leaveIngredients()" class="button">Home</button>
    </a>
</form>